*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px; 
    background: palevioletred;
}
.box{
    background-color: yellow;
}
.box:nth-child(even){
    border-radius: 50%; 
}
