.box{
    height: 50px;
    width: 50px;
    background-color: red;
    /* ease-in-out */
    transition: all 5s linear;
    margin: 10px;
    /* border-radius: 50%; */
}
.box:hover{
    background-color: green;
    /* transform: rotate(45deg); */
    /* transform: scale(1.5); */
    /* transform: translatey(200px); */
    transform: rotate(360deg);
    /* transform: scale(1.2); */
    /* transform: translateX(400px); */
} 