.div1{
    background: linear-gradient(red, yellow, green );
    height: 100px;
}
.div2{
    background: linear-gradient(red,yellow,orange, green, blue, purple, violet);
    height: 100px;
}
.div3{
    background: linear-gradient(red,green,blue);
    height: 100px;
    size: 90%;
}
.div4{
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    height: 50px;
    color: grey;
    display:  flex;
    justify-content: center;
    align-items: center;
}
.div5{
    background: radial-gradient(green,yellow,red);
    height: 130px;
    width: 130px;
}